In [5]:
import pandas as pd

# Specify the path to your HTML file
html_file = "../dataset/TestExcel(1).html"

# Extract tables from the HTML file
tables = pd.read_html(html_file)

# Assuming the relevant table is the first one
df = tables[0]

# Rename columns to match your desired titles
df.columns = [
    "Title-Code",
    "Title Name",
    "Hindi Title",
    "Register Serial No",
    "Regn No.",
    "Owner Name",
    "State",
    "Publication City/District",
    "Periodity"
]

# Save the DataFrame to a CSV file
output_file = "test1.csv"
df.to_csv(output_file, index=False, encoding="utf-8")

print(f"Table saved to {output_file}")

Table saved to test1.csv

In [15]:
import pandas as pd

# Specify the path to your HTML file
html_file = "../dataset/final.html"

# Extract tables from the HTML file
tables = pd.read_html(html_file)

# Assuming the relevant table is the first one
df = tables[0]

# Rename columns to match your desired titles
df.columns = [
    "Title-Code",
    "Title Name",
    "Hindi Title",
    "Register Serial No",
    "Regn No.",
    "Owner Name",
    "State",
    "Publication City/District",
    "Periodity"
]

# Save the DataFrame to a CSV file
output_file = "final.csv"
df.to_csv(output_file, index=False, encoding="utf-8")

print(f"Table saved to {output_file}")

Table saved to final.csv

In [14]:
import pandas as pd

# List of CSV file names
csv_files = [f"test{i}.csv" for i in range(6)]

# Loop through each file, load it, and print its info
for file in csv_files:
    # Load the CSV file into a DataFrame
    df = pd.read_csv(file)
    
    # Print the file name and basic information
    print(f"File: {file}")
    print(f"Number of rows: {len(df)}")
    print("Columns:", df.columns.tolist())
    # print("First few rows:")
    # print(df.head(1), "\n")

File: test0.csv
Number of rows: 224
Columns: ['Title-Code', 'Title Name', 'Hindi Title', 'Register Serial No', 'Regn No.', 'Owner Name', 'State', 'Publication City/District', 'Periodity']
File: test1.csv
Number of rows: 8219
Columns: ['Title-Code', 'Title Name', 'Hindi Title', 'Register Serial No', 'Regn No.', 'Owner Name', 'State', 'Publication City/District', 'Periodity']
File: test2.csv
Number of rows: 1856
Columns: ['Title-Code', 'Title Name', 'Hindi Title', 'Register Serial No', 'Regn No.', 'Owner Name', 'State', 'Publication City/District', 'Periodity']
File: test3.csv
Number of rows: 3818
Columns: ['Title-Code', 'Title Name', 'Hindi Title', 'Register Serial No', 'Regn No.', 'Owner Name', 'State', 'Publication City/District', 'Periodity']
File: test4.csv
Number of rows: 49
Columns: ['Title-Code', 'Title Name', 'Hindi Title', 'Register Serial No', 'Regn No.', 'Owner Name', 'State', 'Publication City/District', 'Periodity']
File: test5.csv
Number of rows: 919
Columns: ['Title-Code', 'Title Name', 'Hindi Title', 'Register Serial No', 'Regn No.', 'Owner Name', 'State', 'Publication City/District', 'Periodity']

#### Final is concatenation of all 6 test csvs

In [16]:
import pandas as pd

# List of CSV file names
csv_files = ["final.csv"]

# Loop through each file, load it, and print its info
for file in csv_files:
    # Load the CSV file into a DataFrame
    df = pd.read_csv(file)
    
    # Print the file name and basic information
    print(f"File: {file}")
    print(f"Number of rows: {len(df)}")
    print("Columns:", df.columns.tolist())
    # print("First few rows:")
    # print(df.head(1), "\n")

File: final.csv
Number of rows: 15085
Columns: ['Title-Code', 'Title Name', 'Hindi Title', 'Register Serial No', 'Regn No.', 'Owner Name', 'State', 'Publication City/District', 'Periodity']

In [22]:
import pandas as pd

csv_files = [f"test{i}.csv" for i in range(6)]

# Loop through each file, load it, and print its info
for file in csv_files:

    df = pd.read_csv(file)

    # Calculate the number of duplicate values for each column
    duplicate_counts = df.apply(lambda col: col.duplicated().sum())

    # Print the result
    print(f"Duplicate counts for each column in '{file}':")
    print(duplicate_counts)

Duplicate counts for each column in 'test0.csv':
Title-Code                     0
Title Name                    83
Hindi Title                  160
Register Serial No            34
Regn No.                      35
Owner Name                    77
State                        202
Publication City/District    133
Periodity                    214
dtype: int64
Duplicate counts for each column in 'test1.csv':
Title-Code                      1
Title Name                   1436
Hindi Title                  5465
Register Serial No            520
Regn No.                      552
Owner Name                   1525
State                        8182
Publication City/District    7496
Periodity                    8200
dtype: int64
Duplicate counts for each column in 'test2.csv':
Title-Code                      0
Title Name                    315
Hindi Title                  1165
Register Serial No            130
Regn No.                      147
Owner Name                    289
State                        1823
Publication City/District    1515
Periodity                    1842
dtype: int64
Duplicate counts for each column in 'test3.csv':
Title-Code                      0
Title Name                    628
Hindi Title                  2837
Register Serial No            191
Regn No.                      203
Owner Name                    600
State                        3788
Publication City/District    3449
Periodity                    3802
dtype: int64
Duplicate counts for each column in 'test4.csv':
Title-Code                    0
Title Name                   14
Hindi Title                  14
Register Serial No            0
Regn No.                      0
Owner Name                   13
State                        34
Publication City/District    15
Periodity                    44
dtype: int64
Duplicate counts for each column in 'test5.csv':
Title-Code                     0
Title Name                   114
Hindi Title                  201
Register Serial No            75
Regn No.                      77
Owner Name                    84
State                        893
Publication City/District    645
Periodity                    907
dtype: int64

In [23]:
import pandas as pd

# Load the CSV file into a DataFrame
csv_file = "final.csv"  # Replace with your CSV file name
df = pd.read_csv(csv_file)

# Calculate the number of duplicate values for each column
duplicate_counts = df.apply(lambda col: col.duplicated().sum())

# Print the result
print(f"Duplicate counts for each column in '{csv_file}':")
print(duplicate_counts)

Duplicate counts for each column in 'final.csv':
Title-Code                     270
Title Name                    2762
Hindi Title                   9873
Register Serial No            1215
Regn No.                      1282
Owner Name                    3054
State                        15048
Publication City/District    14217
Periodity                    15064
dtype: int64

In [24]:
import pandas as pd

# Load the CSV file
csv_file = "final.csv"  # Replace with your CSV file name
df = pd.read_csv(csv_file)

print(f"--- Analysis for '{csv_file}' ---\n")

# 1. General Information
print("1. General Information:")
print(df.info(), "\n")

# 2. Shape of the DataFrame
print(f"2. Shape of the DataFrame: {df.shape[0]} rows, {df.shape[1]} columns\n")

# 3. Column Names
print("3. Column Names:")
print(df.columns.tolist(), "\n")

# 4. Sample Data
print("4. Sample Data (First 5 Rows):")
print(df.head(), "\n")

# 5. Missing Values
print("5. Missing Values (Null Counts per Column):")
print(df.isnull().sum(), "\n")

# 6. Duplicate Rows
print(f"6. Duplicate Rows: {df.duplicated().sum()} found\n")

# 7. Duplicate Counts per Column
print("7. Duplicate Counts per Column:")
print(df.apply(lambda col: col.duplicated().sum()), "\n")

# 8. Descriptive Statistics for Numerical Columns
print("8. Descriptive Statistics for Numerical Columns:")
print(df.describe(), "\n")

# 9. Descriptive Statistics for All Columns
print("9. Descriptive Statistics for All Columns (Including Non-Numerical):")
print(df.describe(include="all"), "\n")

# 10. Unique Values per Column
print("10. Unique Values per Column:")
print(df.nunique(), "\n")

# 11. Data Types
print("11. Data Types:")
print(df.dtypes, "\n")

# 12. Correlation Matrix (for numerical columns)
if df.select_dtypes(include='number').shape[1] > 1:  # Check if numerical columns exist
    print("12. Correlation Matrix (Numerical Columns):")
    print(df.corr(), "\n")
else:
    print("12. No numerical columns for correlation analysis.\n")

--- Analysis for 'final.csv' ---

1. General Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15085 entries, 0 to 15084
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Title-Code                 15085 non-null  object
 1   Title Name                 15085 non-null  object
 2   Hindi Title                5977 non-null   object
 3   Register Serial No         14131 non-null  float64
 4   Regn No.                   14397 non-null  object
 5   Owner Name                 15071 non-null  object
 6   State                      15078 non-null  object
 7   Publication City/District  15068 non-null  object
 8   Periodity                  15083 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.0+ MB
None

2. Shape of the DataFrame: 15085 rows, 9 columns

3. Column Names:
['Title-Code', 'Title Name', 'Hindi Title', 'Register Serial No', 'Regn No.', 'Owner Name', 'State', 'Publication City/District', 'Periodity']

4. Sample Data (First 5 Rows):
    Title-Code        Title Name Hindi Title  Register Serial No  \
0  NOFHIN00556  JAN JAGRAN TIMES         NaN             62359.0
1   APENG03114  JAGRAN CITY PLUS         NaN            110733.0
2  BIHHIN05227   SAMPURNA JAGRAN         NaN            125436.0
3  BIHHIN05120     DAINIK JAGRAN         NaN            119746.0
4  BIHHIN02261     VISHWA JAGRAN         NaN             39498.0

            Regn No.            Owner Name State Publication City/District  \
0          62359/ 94             NOT GIVEN   NaN                       NaN
1   APENG/2010/38176  JAGRAN PRAKASHAN LTD    AP                 HYDERABAD
2  BIHHIN/2013/52881           NUTAN VERMA   BIH                   BETTIAH
3  BIHHIN/2012/47189  JAGRAN PRAKASHAN LTD   BIH                 BHAGALPUR
4          39498/ 81           D. R. TYAGI   BIH                      GAYA

  Periodity
0         W
1         W
2         D
3         D
4         W

5. Missing Values (Null Counts per Column):
Title-Code                      0
Title Name                      0
Hindi Title                  9108
Register Serial No            954
Regn No.                      688
Owner Name                     14
State                           7
Publication City/District      17
Periodity                       2
dtype: int64

6. Duplicate Rows: 135 found

7. Duplicate Counts per Column:
Title-Code                     270
Title Name                    2762
Hindi Title                   9873
Register Serial No            1215
Regn No.                      1282
Owner Name                    3054
State                        15048
Publication City/District    14217
Periodity                    15064
dtype: int64

8. Descriptive Statistics for Numerical Columns:
       Register Serial No
count        14131.000000
mean         91120.520558
std          42588.442171
min              5.000000
25%          59250.000000
50%          95281.000000
75%         126710.500000
max         161030.000000

9. Descriptive Statistics for All Columns (Including Non-Numerical):
         Title-Code          Title Name          Hindi Title  \
count         15085               15085                 5977
unique        14815               12323                 5211
top     DELHIN14046  THE TIMES OF INDIA  द टाइम्स ऑफ़  इंडिया
freq              2                  70                   29
mean            NaN                 NaN                  NaN
std             NaN                 NaN                  NaN
min             NaN                 NaN                  NaN
25%             NaN                 NaN                  NaN
50%             NaN                 NaN                  NaN
75%             NaN                 NaN                  NaN
max             NaN                 NaN                  NaN

        Register Serial No Regn No.                 Owner Name  State  \
count         14131.000000    14397                      15071  15078
unique                 NaN    13802                      12030     36
top                    NaN       UR  BENNETT, COLEMAN & CO.LTD     UP
freq                   NaN      335                        337   3050
mean          91120.520558      NaN                        NaN    NaN
std           42588.442171      NaN                        NaN    NaN
min               5.000000      NaN                        NaN    NaN
25%           59250.000000      NaN                        NaN    NaN
50%           95281.000000      NaN                        NaN    NaN
75%          126710.500000      NaN                        NaN    NaN
max          161030.000000      NaN                        NaN    NaN

       Publication City/District Periodity
count                      15068     15083
unique                       867        20
top                        DELHI         W
freq                        2493      5469
mean                         NaN       NaN
std                          NaN       NaN
min                          NaN       NaN
25%                          NaN       NaN
50%                          NaN       NaN
75%                          NaN       NaN
max                          NaN       NaN

10. Unique Values per Column:
Title-Code                   14815
Title Name                   12323
Hindi Title                   5211
Register Serial No           13869
Regn No.                     13802
Owner Name                   12030
State                           36
Publication City/District      867
Periodity                       20
dtype: int64

11. Data Types:
Title-Code                    object
Title Name                    object
Hindi Title                   object
Register Serial No           float64
Regn No.                      object
Owner Name                    object
State                         object
Publication City/District     object
Periodity                     object
dtype: object

12. No numerical columns for correlation analysis.

In [26]:
import pandas as pd

# Load the CSV file
csv_file = "final.csv"  # Replace with your CSV file name
df = pd.read_csv(csv_file)

# Iterate over each column to group and sort duplicates
for column in df.columns:
    duplicates = df[df[column].duplicated(keep=False)]  # Rows with duplicates in the column
    grouped = duplicates.groupby(column).size().sort_values(ascending=False)  # Group and sort by count
    if not grouped.empty:  # Only display if there are duplicates
        print(f"Sorted duplicate groups for column '{column}':")
        print(grouped, "\n")

Sorted duplicate groups for column 'Title-Code':
Title-Code
WBENG03572     2
ANDENG00151    2
APENG02277     2
APENG02819     2
APENG03371     2
              ..
CHAENG01023    2
CHAENG01022    2
BIHHIN11881    2
BIHENG00595    2
BIHENG00569    2
Length: 270, dtype: int64

Sorted duplicate groups for column 'Title Name':
Title Name
THE TIMES OF INDIA           70
DAINIK JAGRAN                39
SUNDAY TIMES OF INDIA        34
THE SUNDAY TIMES OF INDIA    34
CITY TIMES                   33
                             ..
YARANA TIMES                  2
ZOYA TIMES                    2
AADHAR TIMES                  2
AADITYA TIMES                 2
AAJ KA INDIA                  2
Length: 1488, dtype: int64

Sorted duplicate groups for column 'Hindi Title':
Hindi Title
द टाइम्स ऑफ़ इंडिया       29
द टाइम्स ऑफ़  इंडिया      29
दैनिक  जागरण             19
प्रदेश टुडे              14
संडे टाइम्स ऑफ़ इंडिया    13
                         ..
हिन्द की  आवाज़ टाइम्स     2
हिन्‍दुस्‍तान टुुुडे      2
हिमाचल ट्रिब्यून          2
स्पष्ट आवाज़               2
स्वतंत्र  आवाज़            2
Length: 399, dtype: int64

Sorted duplicate groups for column 'Register Serial No':
Register Serial No
160083.0    2
508.0       2
536.0       2
1547.0      2
1709.0      2
           ..
20874.0     2
16814.0     2
16282.0     2
15047.0     2
14189.0     2
Length: 262, dtype: int64

Sorted duplicate groups for column 'Regn No.':
Regn No.
UR                  335
UPHIN/2011/39719      2
20874/ 71             2
WBENG/2002/06563      2
14189/ 67             2
                   ...
40544/ 83             2
44374/ 86             2
45466/ 85             2
45805/ 86             2
45823/ 86             2
Length: 262, dtype: int64

Sorted duplicate groups for column 'Owner Name':
Owner Name
BENNETT, COLEMAN & CO.LTD               337
JAGRAN PRAKASHAN LTD                     41
NOT GIVEN                                26
HT MEDIA LTD                             24
M C I 5 MEDIA COMMUNICATION PVT. LTD     23
                                       ...
ZAHEER HUSAIN A. GANI HAWALDAR            2
ZALIL ISHTIYAK SIDDIQI                    2
ZAQURAN NISHA                             2
ZEENATH SAJIDA                            2
VIVEK SHUKLA                              2
Length: 1511, dtype: int64

Sorted duplicate groups for column 'State':
State
UP     3050
DEL    2500
MAH    1931
MP     1888
RAJ     717
GUJ     677
TN      600
UTT     533
KAR     422
AP      390
WB      351
HAR     284
PUN     236
TEL     232
KER     207
BIH     205
CHH     198
JK      171
JHA      92
CHA      90
ODI      82
HP       64
ASS      37
GOA      17
PON      16
AND      14
MEG      12
DD       12
MAN      11
SIK      10
MIZ       9
ARP       6
LD        6
NAG       4
TRI       3
dtype: int64

Sorted duplicate groups for column 'Publication City/District':
Publication City/District
DELHI           2493
LUCKNOW         1047
BHOPAL           974
MUMBAI           825
CHENNAI          437
                ...
BARAN              2
VIRUDHUNAGAR       2
VIZIANAGARAM       2
TIRUPPUR           2
YSR/ KADAPA        2
Length: 566, dtype: int64

Sorted duplicate groups for column 'Periodity':
Periodity
W      5469
M      3857
D      2752
F      1446
Q       704
BM      256
HY      178
A       162
DE       83
OP       58
TWW      33
DS       29
THW      15
FMY      12
THY      10
BNL       8
DF        5
NDO       4
dtype: int64